<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tổng Hợp Ngày Khám Bệnh</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Tổng Hợp Ngày Khám Bệnh</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Ngày Khám Bệnh</th>
                                    <th>Tổng Số Lượt Siêu Âm</th>
                                    <th>Tổng Tiền Siêu Âm</th>
                                    <th>Tổng Số Lượt Xét Nghiệm</th>
                                    <th>Tổng Tiền Xét Nghiệm</th>
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tr th:each="ngayKhamBenh : ${pageNgayKhamBenhCommand.getNgayKhamBenhPages()}">
                                    <td th:text="${#dates.format(ngayKhamBenh.getNgayKhamBenh(),'dd-MM-yyyy')}">
                                    <td th:text="${ngayKhamBenh.getTongSoLuotSieuAm()}"></td>
                                    <td th:text="${#strings.replace(#numbers.formatCurrency(ngayKhamBenh.getTongTienSieuAm()),'.00','')}"></td>
                                    <td th:text="${ngayKhamBenh.getTongSoLuotXetNghiem()}"></td>
                                    <td th:text="${#strings.replace(#numbers.formatCurrency(ngayKhamBenh.getTongTienXetNghiem()),'.00','')}"></td>
                                    <td><a href="#" th:href="@{'/ngaykhambenh/' + ${ngayKhamBenh.getId()} + '/show'}">Show</a></td>
                                </tr>
                                <tr><a class="btn btn-primary" href="/ngaykhambenh/new" role="button">Thêm Hoặc Xem Ngày Khám Bệnh Hôm Nay</a></tr>
                            </table>
                        </div>
                        <div class="col-xs-12 text-center" th:if="${pageNgayKhamBenhCommand.getPageNumbers().size() > 1}">
                            <form class="form-inline" form th:object="${pageNgayKhamBenhCommand}" th:action="@{'/index/page'} " method="post">
                                <a class="btn btn-primary btn-sm disabled" th:if="${pageNgayKhamBenhCommand.getSelectedPage() <= 1}">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </a>
                                <a type="button" class="btn btn-primary btn-sm" th:if="${pageNgayKhamBenhCommand.getSelectedPage() > 1}" th:href="@{/index(page=${pageNgayKhamBenhCommand.getSelectedPage() - 1})}">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </a>
                                <span th:text="'Trang'"/>
                                <input type="number" class="form-control" th:field="*{selectedPage}" th:min="1" th:max="${pageNgayKhamBenhCommand.getPageNumbers().size()}">
                                <span th:text="'của ' + ${pageNgayKhamBenhCommand.getNgayKhamBenhPages().getTotalPages()}"/>
                                <a type="button" class="btn btn-primary btn-sm disabled" th:if="${pageNgayKhamBenhCommand.getSelectedPage() == pageNgayKhamBenhCommand.getPageNumbers().size()}">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                                <a class="btn btn-primary btn-sm" th:if="${pageNgayKhamBenhCommand.getSelectedPage() < pageNgayKhamBenhCommand.getPageNumbers().size()}" th:href="@{/index(page=${pageNgayKhamBenhCommand.getSelectedPage() + 1})}">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>