<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tổng Hợp Ngày Khám Bệnh</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Tổng Hợp Ngày Khám Bệnh</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Ngày Khám Bệnh</th>
                                <th>Tổng Số Lượt Siêu Âm</th>
                                <th>Tổng Tiền Siêu Âm</th>
                                <th>Tổng Số Lượt Xét Nghiệm</th>
                                <th>Tổng Tiền Xét Nghiệm</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tr th:each="ngayKhamBenh : ${ngayKhamBenhs}">
                                <td th:text="${#dates.format(ngayKhamBenh.getNgayKhamBenh(),'dd-MM-yyyy')}">
                                <td th:text="${ngayKhamBenh.tongSoLuotSieuAm}"></td>
                                <td th:text="${#strings.replace(#numbers.formatCurrency(ngayKhamBenh.tongTienSieuAm),'.00','')}"></td>
                                <td th:text="${ngayKhamBenh.tongSoLuotXetNghiem}"></td>
                                <td th:text="${#strings.replace(#numbers.formatCurrency(ngayKhamBenh.tongTienXetNghiem),'.00','')}"></td>
                                <td><a href="#" th:href="@{'/ngaykhambenh/' + ${ngayKhamBenh.id} + '/show'}">Show</a></td>
                            </tr>
                            <tr><a class="btn btn-primary" href="/ngaykhambenh/new" role="button">Thêm Hoặc Xem Ngày Khám Bệnh Hôm Nay</a></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>